node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.coverage
.sass-cache
.DS_Store
*.log
.vscode
.idea
dist
build
.next
.nuxt
.cache
.parcel-cache
.eslintcache
.stylelintcache
Dockerfile
.dockerignore
docker-compose.yml
.jenkins
Jenkinsfile
*.md